@import url(https://db.onlinewebfonts.com/c/877157025d03c4d7ed11a04f1dfd4472?family=Havelock+Titling+Bold);

@font-face {
    font-family: 'aniyah_personal_useregular';
    src: url('../../font/aniyah-webfont.woff2') format('woff2'),
    url('../../font/aniyah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amandaart_design';
    src: url('../../font/amanda-webfont.woff2') format('woff2'),
    url('../../font/amanda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'adeliciaregular';
    src: url('../../font/adelicia-webfont.woff2') format('woff2'),
    url('../../font/adelicia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'harvestregular';
    src: url('../../font/harvest-webfont.woff2') format('woff2'),
    url('../../font/harvest-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'elegant_demoregular';
    src: url('../../font/elegant_demo-webfont.woff2') format('woff2'),
    url('../../font/elegant_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'samantharegular';
    src: url('../../font/samantha-webfont.woff2') format('woff2'),
    url('../../font/samantha-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'carolineregular';
    src: url('../../font/caroline-webfont.woff2') format('woff2'),
    url('../../font/caroline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: "Poppins", sans-serif;
}



/* ... et ainsi de suite pour d'autres éléments de votre page */

* {
    margin: 0;padding: 0;
}
*,
*:after,
*:before {
    box-sizing:border-box;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}
a:hover{
    color: white;
}
ul{
    list-style: none;
}
body{
    background-color: #191B1F;
    color: white;
    overflow-x: hidden;
} img{
    width: 100%;
}

@keyframes animationName {
    0% {
        transform: translateY(-5px) translateX(-50%) scale(0.95);
        opacity: 0.9;
    }
    25% {
        transform: translateY(-15px) translateX(-50%) scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: translateY(-15px) translateX(-50%) scale(0.8);
        opacity: 0.7;
    }
    75% {
        transform: translateY(-2px) translateX(-50%) scale(0.99);
        opacity: 0.95;
    }
    100% {
        transform: translateY(-20px) translateX(-50%) scale(0.85);
        opacity: 0.75;
    }
}

h1 {
    color: white;
    font-size: 3.5rem;
}
.wrap {max-width: 1400px; width:100%;margin: 0 auto;}
.wrap2 {max-width: 1200px; width:100%;margin: 0 auto;}
.wrap3 {max-width: 1000px; width:100%;margin: 0 auto;}




.element {
    animation: animationName 14s infinite alternate;
    background-image: linear-gradient(80deg, rgb(239, 180, 120), rgb(243, 123, 91));
    filter: blur(112px);
    border-radius: 0px 0px 30vw 30vw;
    width: 90vw;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 8%;
    bottom: 10%;
    transform: translateY(0px) translateX(-50%) scale(1);
    opacity: 1;
}

.sunplay {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    gap: 3.5rem;
    z-index: 4;
    position: relative;
    height: 75vh;
    align-items: start;
    font-size: 1.3rem;
}
.sunplay h1{
    font-family: 'amandaart_design';
    font-size: 5rem;
    font-weight: normal;
}
.sunplay span{
    font-weight: bold;
}
p.poppins{
    width: 100%;
    margin-left: 0.5rem;
}
.title{
    font-size: 4rem;
}

.bloc_info_page{
    position: relative;
}.navbar{
     display: flex;
     justify-content: space-between;
     width: 150px;
     align-items: center;
     text-align-last: center;
     height: 90vh;
     z-index: 1000000;
     left: 6%;
     padding: 1rem;
 }
 .navigation{
     display: flex;
     gap: 1rem;
     align-items: center;
 }



.navigation a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

.navigation a::before, .navigation a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    /* Combinaison de rouge (80%) et noir en opacité (20%) */
    background:  #F37B5B ;
    transition: width 0.3s ease; /* Durée et type d'animation */
}

.navigation a::before {
    top: -5px;
    bottom: auto;
}

.navigation a:hover::before, .navigation a:hover::after {
    width: 100%;
}


/* Ajoutez vos styles CSS ici */

.nav{
padding: 2rem;
  }

.bas a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px; /* Marge entre les éléments de la section bas */
}

.bas a::before, .bas a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    /* Combinaison de rouge (80%) et noir en opacité (20%) */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) , #F37B5B 80%, rgba(0, 0, 0, 0.9) );
    transition: width 0.3s ease; /* Durée et type d'animation */
}

.bas a::before {
    top: -5px;
    bottom: auto;
}

.bas a:hover::before, .bas a:hover::after {
    width: 100%;
}
.login{
    background-color: #F37B5B;
    border: none;
    border-radius:3rem;
    cursor: pointer;
    font-weight: 535;
    font-size: 16px;
    padding: 10px 12px;
    color: inherit;
    white-space: nowrap;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
}
.logo_image {
    width: 25%;
}
.grand_bloc_chiffre{
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    gap: 2rem;
    align-self: center;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: -webkit-center;
    justify-content: center;
}
.grand_bloc_chiffre .bloc_chiffre h2{
    font-size: 2.5rem;
    font-weight: normal;
}
.grand_bloc_chiffre .bloc_chiffre p{
    font-size: 1rem;
    font-weight:400;
}
.abt_me{
        margin-right: 12px;
        width: 100%;
        min-height: 290px;
        background: url("https://uniswap.org/images/apps.png") 0% 0% / cover no-repeat;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.19);
    padding: 2rem;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 4px 8px, rgba(0, 0, 0, 0.02) 0px 16px 24px, rgba(0, 0, 0, 0.02) 0px 24px 32px;
}
.about_me{
    display: flex;
    gap: 2rem;
}
.about_me .grnd_bloc_about_me .bloc_aboutme_1{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about_me .grnd_bloc_about_me .bloc_aboutme_1 p {
    opacity: 50%;
}
.history{
    margin-bottom: 4rem;
    text-align: -webkit-center;
}
 .trait{
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        margin: 64px 0px;
        width: 100%;
}
.history .grd_bloc_history{

}
.sous_bloc_history {
    /* Propriétés initiales */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    cursor: pointer;
    height: fit-content;
    outline: none;
    padding: 24px;
    width: 100%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.13);
    transition: background-image 0.4s; /* Déplacez la transition ici */
    text-align: left;
}

.sous_bloc_history i {
    font-size: 3rem;
}

.sous_bloc_history:hover {
    /* Modification au survol */
    background-image: linear-gradient(80deg, rgb(239, 180, 120), rgb(243, 123, 91));
}


.gouvernance{
    margin-bottom: 8rem;
}
.bloc_1_gouvernance{
    margin-right: 12px;
    width: 100%;
    min-height: 401px;
    background: url("https://uniswap.org/images/horse-card.png") center center / cover no-repeat;
        background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.19);
    padding: 2rem;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 4px 8px, rgba(0, 0, 0, 0.02) 0px 16px 24px, rgba(0, 0, 0, 0.02) 0px 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloc_2_gouvernance{
color: white;
cursor: pointer;
height: fit-content;
outline: none;
padding: 24px;
width: 100%;
border-radius: 20px;
background: rgba(255, 255, 255, 0.02);
border: 1px solid rgba(255, 255, 255, 0.13);
text-align: left;
}
.grd_bloc_grouvernance{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.sous_bloc_gouvernance_2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sous_bloc_gouvernance_2 .bloc_2_gouvernance{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer ul {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-family:"Poppins";
    margin-bottom: 5rem;
    flex-wrap: wrap;
}
button{
    padding: 8px 0.85rem;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(95.5deg, rgba(15, 53, 255, 0.3) 12.82%, rgba(255, 72, 181, 0.3) 41.96%, rgba(15, 53, 255, 0.08) 75.06%, rgba(15, 53, 255, 0.11) 107.66%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: rgb(53, 55, 58) 1px 1000px 1px inset;
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    width: fit-content !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    height: fit-content !important;
    width: 30%;
}
/* Page gouvernance /*
 */
.page_gouvernance .grd_bloc_page_gouvernance {
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
}
.sous_bloc_page_gouvernance{
    width: 80%;
}
.grd_bloc_page_gouvernance .sous_bloc_page_gouvernance h3{
    font-size: 2.5rem;
    font-family: "Poppins";
    opacity: 80%;
    margin-bottom: 5rem
}

.grd_bloc_page_gouvernance .sous_bloc_page_gouvernance p{
    font-size: 1.5rem;
    opacity: 80%;
}
.sous_bloc_page_gouvernance_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.sous_bloc_page_gouvernance_2 > div:first-child {
text-align: -webkit-center;
}
.img_logo{
    width: 70%;
}
.sous_bloc_page_gouvernance_2 > div:nth-child(2) {
display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sous_bloc_page_gouvernance_2   p {
   opacity: 80%;
}
.sous_bloc_gouvernance_app {
    color: white;
    cursor: pointer;
    height: fit-content;
    outline: none;
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.13);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.logo_app_gouvernance{
    width: 30%;
}
.gouvernance_app .grd_bloc_gouvernance_app h3{
    font-family: "Poppins";
    opacity: 70%;
}
.gouvernance_app{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bloc_app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.bloc_app p {
    font-family: "Poppins";
    font-weight: normal;
    opacity: 70%;
}
.process_phase{
    background: rgba(255, 255, 255, 0.02);
     border: 1px solid rgba(255, 255, 255, 0.13);
    padding: 24px;
    border-radius: 20px;
    opacity: 1;
    width: 70%;
}

.grd_bloc_gouvernance_process .sous_bloc_gouvernance_process{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.grd_bloc_gouvernance_process{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  2rem;
}
.sous_bloc_gouvernance_process_2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 7rem;
}
.grd_bloc_gouvernance_process h4{
    opacity: 70%;
    font-size: 1.5rem;
    font-family: "Poppins";
}
.image_blog{
        width: 100%;
        height: 340px;
        border-radius: 16px;
    background-color: red;
        background: url(https://images.ctfassets.net/oc3ca6rftwdu/2vjQ6k8jsMWRNdB5Vv3stO/c16d97ff63929519df64c450b1802b0c/image__35_.png) center center / cover no-repeat;
        transition: transform 0.2s ease-in-out 0s;
}
.sous_blog_1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.blog .sous_blog_1 h2{
    width: 80%;
}
.details_du_blog{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.details_du_blog .trait{
    margin: 0;
    width: 45%;
}
.all_blog .trait{
    margin: 0;
    width: 100%;
}
.all_blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
.sous_bloc_all_blog{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.details_du_blog > div:nth-child(2) {
    display: flex;
    gap: 4rem;

    align-items: center;
}
.details_du_blog >div:nth-child(1){
    display: flex;
    gap: 7rem;
    align-items: center;
}
.details_du_blog >div:nth-child(1) p{
font-family: "Poppins";
    opacity: 30%;
}
.date{
    font-family: "Poppins";
}
.sous_bloc_all_blog .poster_blog{
        background-position: center center;
        position: relative;
        height: 220px;
        transition: transform 0.2s ease-in-out 0s;
    width: 100%;
    border-radius: 16px;
    background: url(https://images.ctfassets.net/oc3ca6rftwdu/2RSBz1MGSHDhSzbHPxlTsr/4e0f114262fe967a0cd3f35329a8f6dc/image1.jpg) center center / cover no-repeat;
}
.all_blog .description{
    opacity: 70%;
}
.voir_plus{
    text-align: -webkit-center;
}
.modal-content{
    background-color: #191B1F;
}
.carriere .poster_blog img{
    background-position: center center;
    position: relative;
    height: 220px;
    transition: transform 0.2s ease-in-out 0s;
    width: 100%;
    border-radius: 16px;
}
.carriere{
    margin-bottom: 8rem;
}

.section_team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team .grd_bloc_team {
    margin-top: 14rem;
    margin-bottom: 14rem;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    row-gap: 10rem; /* Espace vertical de 10rem entre les éléments */
}


.sous_bloc_team {
    width: 400px;
    margin: 20px;
    padding: 15px;
 background-color: rgba(255, 255, 255, 0.02);;
    text-align: center;
    position: relative;
    color: white;
    box-shadow: 0 0 10px rgba(243, 123, 91, 0.7);

}
.img_job {
    padding-bottom: 6rem;

}
.our_team{
    text-align: -webkit-center;

}
.our_team{
    z-index: 1000;
}


.img_job img {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    padding: 1rem;
    transform: translateX(-50%);
    bottom: 70%;
    border: 3px solid #F37B5B;
    box-sizing: border-box;
    background-color: black;
}
.prenom_nom {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.poste {
    font-style: italic;
    color: #F37B5B;
    margin-bottom: 10px;
}

.presentation {
    font-size: 0.9em;
    line-height: 1.4;
}
.reseaux i {
    color: #F37B5B;
    font-size: 2rem;
}
.reseaux{
    margin-top: 1rem;
}
/* Contact */
.contact{
    margin-top: 14rem;
    margin-bottom: 4rem;
}

.contact .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact h1 {
    color: #ffffff;
}

.contact p {
    color: #666;
}

.contact .social-link {
    margin-top: 20px;
}

.contact .social-link a {
    color: #1da1f2;
    text-decoration: none;
    font-size: 24px;
}
/*  faq */
.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
    margin-top: 14rem;
    margin-bottom: 8rem;
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.02);;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
    color: white;
    font-family: "Havelock Titling", sans-serif;
    font-weight: bold;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: white;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
input[type="checkbox"]:checked
~ .accordion-item-title
.icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}


@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}
.menu_burger{
    display: none;
}
body {
    margin: 0;
}


.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease; /* Ajouter une transition sur la couleur */
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 5;
    align-self: center;
    gap: 1rem;
    place-content: center;
    backdrop-filter: blur(8px);
    transition: right 0.3s ease, opacity 0.3s ease; /* Ajouter une transition sur right et opacity */
    opacity: 0; /* Ajouter l'opacité initiale à 0 */
}

.dropdown-menu.show {
    right: 0;
    opacity: 1; /* Ajouter l'opacité lorsqu'il est affiché */
    display: flex;
    transition: right 0.3s ease, opacity 0.3s ease; /* Ajouter une transition sur right et opacity */
}


/* responsive  /*
 */

@media screen and (max-width: 1100px) {
   .navigation{
       display: none;
   }
    .menu_burger{
        display: block;
        font-size: 2.5rem;
        color: #F37B5B;
        cursor: pointer;
    }
    .logo_image {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .sunplay h1 {
        font-family: 'amandaart_design';
        font-size: 4rem;
        font-weight: normal;
    }
    .grand_bloc_chiffre {
        margin-top: 2rem;
        margin-bottom: 10rem;
        display: flex;
        gap: 2rem;
        align-self: center;
        font-family: 'Poppins';
        font-weight: bold;
        text-align: -webkit-center;
        justify-content: center;
        flex-direction: column;
    }

}

@media screen and (max-width: 470px) {
    .sunplay h1 {
        font-family: 'amandaart_design';
        font-size: 3rem;
        font-weight: normal;
    }
    @media screen and (max-width: 380px) {
        .sunplay h1 {
            font-family: 'amandaart_design';
            font-size: 2.5rem;
            font-weight: normal;
        }
    }
    .img_job img {
        bottom: 73%;

    }

}